@page
@using AnimeWebApp.Models
@model Models.User
@{
    //ViewData["Title"] = "Home page";
}
<a asp-controller="Home" asp-action="Privacy">Privacy</a>
<a asp-controller="Home" asp-action="Registration">Registration</a>
<a asp-controller="Home" asp-action="Login">Login</a>


<div class="text-center">
</div>