body {
    background-color: #e2e2e2;
}

.top {
    background-image: url(../img/top.jpg);
    background-position: top center;
    width: 100%;
    height: 17%;
    position: relative;
    padding: 25px 0 0 0;
}

.navbar {
    padding-left: 5%;
    position: relative;
    height: 10%;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}

.auth-block {
    width: 220px;
    height: 40px;
    float: right;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.login {
    width: 35%;
    height: 100%;
    padding: 0px 5px;
    background: #f5f5f5;
    position: relative;
    cursor: pointer;
}

.register, .register:hover {
    background: #3cce7b;
    color: black;
    text-decoration: none;
    width: 65%;
    height: 100%;
    padding: 8px 18px;
}

.dropdown-menu {
    position: relative;
    background: #f5f5f5;
    padding-left: 20%;
    width: 220px;
    height: 160px;
}

.email, .password {
    left: 10%;
    border-color: #ccc;
    outline: none;
    border: none;
}

.enter {
    position: absolute;
    width: 70px;
    height: 40px;
    background: #3cce7b;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    margin: 0;
    left: 30%;
    top: 55%;
}

.lossPassword, .lossPassword:hover {
    position: absolute;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 400;
    margin-top: 10px;
    top: 75%;
    left: 20%;
}

.nav-item {
    font-size: 15px;
    padding: 10px 0px;
    white-space: nowrap;
    text-align: center;
}

input[type=search] {
    position: absolute;
    height: 50px;
    top: 10%;
    width: 90%;
    -webkit-appearance: none;
    z-index: 1;
}

.search_btn {
    position: absolute;
    width: 39px;
    height: 50px;
    border: none;
    outline: none;
    margin-left: 88%;
    margin-top: 5px;
    z-index: 5;
}

.content-block {
    position: relative;
    width: 100%;
    height: 1400px;
}

.popular {
    position: relative;
    height: 300px;
    background: red;
    margin: 20px 10%;
    width: 80%;
}

.popular_block {
    height: 10%;
    text-align: center;
    background: #343a40;
    color: white;
}

.carousel_block {
    margin: 0;
    padding: 0;
    height: 90%;
    width: 100%;
    font-size: 0;
}

.item {
    display: inline-block;
    position: relative;
    height: 100%;
    width: calc(100%/6);
}

.block {
    margin-top: 20px;
    margin-left: 17%;
    width: 70%;
    height: 660px;
}

.title-update {
    color: white;
    text-align: center;
    width: 32%;
    position: absolute;
    margin-top: 2%;
    height: 600px;
    background: red;
}

.news_block {
    color: white;
    text-align: center;
    margin-left: 35%;
    width: 32%;
    position: absolute;
    margin-top: 2%;
    height: 300px;
}

.anounces_block {
    height: 300px;
}

.preview-container {
    margin-top: 270px;
    height: 10%;
    background: #343a40;
}

.col-container {
    height: 30px;
    background: #343a40;
}

.title_update_strings {
    background: green;
    position: absolute;
    height: 100%;
    width: 100%;
}

.update_strings {
    text-align: center;
    background: red;
    position: absolute;
    height: 90%;
    width: 100%;
}

.preview_strings {
    text-align: center;
    background: red;
    position: absolute;
    height: 100%;
    width: 100%;
}

.title_update_string {
    text-align: center;
    width: 90%;
    height: calc(100%/14);
    background-color: rebeccapurple;
}

.string {
    text-align: center;
    width: 90%;
    height: calc(100%/7);
}
/* .update_time{
    text-align: center;
    width: 10%;
    height: 100%;        
    background-color: salmon;   
    
} */
.new_title {
    position: relative;
    height: 300px;
    background: red;
    margin: 20px 10%;
    width: 80%;
}

.name {
    height: 30px;
    text-align: center;
    background: #343a40;
    color: white;
}

.footer {
    display: flex;
    background: #343a40;
    color: white;
    width: 100%;
    height: 171px;
}

footer .footer_container {
    padding: 10px 5px;
}

.footer_container {
    position: relative;
    width: 100%;
}

p {
    margin: 0 0 10px 0;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    margin-left: 97%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
