 body {
    background-color: #e2e2e2;
    width: 100%;
    min-height: 100%;
}

h1 {
    margin-top: 20px;
}

input[type=search] {
    position: absolute;
    height: 50px;
    top: 10%;
    width: 90%;
    -webkit-appearance: none;
    z-index: 1;
}

.search_btn {
    position: absolute;
    width: 39px;
    height: 50px;
    border: none;
    outline: none;
    margin-left: 88%;
    margin-top: 5px;
    z-index: 5;
}

.main-page {
    position: relative;
    justify-content: center;
    width: 100%;
    background-color: #ccc;
    height: 80vh;
}

.content-page {
    position: absolute;
    margin-left: 15%;
    background-color: #fff;
    width: 70%;
    height: 100%;
}

.registrationnew {
    text-align: center;
}

.rules {
    width: 100%;
    height: 30%;
}

ol {
    position: absolute;
    margin: 40px 0 10px 0;
}

ol p {
    list-style-position: inside;
}

.fields {
    position: absolute;
    width: 75%;  
    margin-left: 12%;
}


input[type=text] {
    width: 100%;
    padding: 7px 15px;
    margin-top: 20px;
    border: 1px solid;
    border-color: #ccc;
    background: #fff;
    font-family: inherit;
    font-size: inherit;
    color: #333;    
    outline: none;
}

.btn {
    position: absolute;
    margin: 5% 38%;
    background-color: #3cce7b;
    outline: none;
    border-radius: 0%;
}
